#!/usr/bin/make -f
# -*- makefile -*-

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp
	perlcc -B www/cgi-bin/list.pl -o www/cgi-bin/list.plc
	perlcc -B www/cgi-bin/action.pl -o www/cgi-bin/action.plc
	perlcc -B www/cgi-bin/upload.pl -o www/cgi-bin/upload.plc
	perlcc -B www/cgi-bin/get.pl -o www/cgi-bin/get.plc
	perlcc -B bin/manager.pl -o bin/manager.plc

build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	cp -R {bin,pm,www} $(CURDIR)/debian/webtornado/usr/share/webtornado/
	mv $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/list.plc $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/list.pl
	mv $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/action.plc $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/action.pl
	mv $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/upload.plc $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/upload.pl
	mv $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/get.plc $(CURDIR)/debian/webtornado/usr/share/webtornado/www/cgi-bin/get.pl
	mv $(CURDIR)/debian/webtornado/usr/share/webtornado/bin/manager.plc $(CURDIR)/debian/webtornado/usr/share/webtornado/bin/manager.pl	
	cp webtornado.conf $(CURDIR)/debian/webtornado/etc
	touch $(CURDIR)/debian/webtornado/etc/webtornado.auth

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installcron
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
