<TMPL_INCLUDE NAME="header.html">

<TMPL_IF NAME="prereg">
    <table style="width: 100%; text-align: center">
        <tr style="background-color: #AAAAAA">
	    <td>id</td>
	    <td>login</td>		
	    <td>email</td>		
	    <td>actions</td>
	</tr>
	<TMPL_LOOP NAME="prereg">
	    <tr style="background-color: <TMPL_VAR NAME=color>">
		<td><TMPL_VAR NAME=id></td>
		<td><TMPL_VAR NAME=login></td>		
		<td><TMPL_VAR NAME=email></td>		
		<td><a href='#' onclick="return process('prereg', 'drop=<TMPL_VAR NAME=id>', 1)">drop</a></td>
	    </tr>
	</TMPL_LOOP>
    </table>
<TMPL_ELSE>
    <center>No preregs found!</center>
</TMPL_IF>


<TMPL_INCLUDE NAME="footer.html">
