Source: lj2rss
Section: web
Priority: extra
Maintainer: Alexey Alexandrov <swined@gmail.com>
Build-Depends: debhelper
Standards-Version: 3.7.2

Package: lj2rss
Architecture: any
Depends: apache2, perl, libcache-fastmmap-perl, libxml-writer-perl, libcgi-perl | libcgi-pm-perl, libwww-perl
Description: livejournal to rss