<html>
    <head>
	<meta http-equiv="REFRESH" content="30;URL=/" />
    </head>
    <body><center>

diskspace: %disk_free% of %disk_total% free %disk_progressbar% <br>

%table% <br>

<a href='/start/all'>start all</a> | 
<a href='/stop/all'>stop all</a> | 
add new torrent: <form method='post' action='/upload' enctype='multipart/form-data'>
<input type='file' name='file' />&nbsp;<input type='submit' name='.submit' /></form>

<font color=gray>webtornado %version% &copy; swined</font>

    </center></body>
</html>