<html>
    <head>
	<meta http-equiv='REFRESH' content='30;URL=/' />
	<style>
		TD {
			text-align: center;
			vertical-align: top;
		}
		TH {
			background-color: #cccccc;
		}
	</style>
	<script language='javascript'>
		function set_maxratio(id, maxratio) {
			document.getElementById("set_maxratio_" + id).innerHTML = 
				"<form method=get action='/cgi-bin/action.pl'>" +
				"<input type=hidden name=action value=set_maxratio>" +
				"<input type=hidden name=id value=" + id + ">" +
				"<input type=text name=maxratio value='" + maxratio + "' style='width: 50px'>" +
				"<input type=submit style='width: 30px' value='OK'>" +
				"</form>";
		}
	</script>
    </head>
    <body><center>

diskspace: %disk_free% of %disk_total% free %disk_progressbar% <br>

<tmpl_if torrents>
<table border='0' style='width: 100%'>
<thead><tr><th>&nbsp;</th><th>name</th><th>size</th><th>up</th><th>down</th><th>peers</th><th>ratio</th><th>speed</th><th>status</th></tr></thead>
<tbody>
<tmpl_loop torrents>
    <tr bgcolor="<tmpl_if __odd__>#ffffff<tmpl_else>#f2f2f2</tmpl_if>">
<td>%icons%
<tmpl_unless del>
    <tmpl_if done><a href="<tmpl_if files>/%id%.tar<tmpl_else>/webtornado/users/%user%/output/%ue_name%</tmpl_if>"><img src="/img/tar_down.gif" border="0"></a></tmpl_if><a href="/delete/%id%"><img src="/img/delete.png" border="0"></a>
</tmpl_unless>
</td>
<td style="text-align: left">%name%
<tmpl_if files>
    <div id='files_%id%' style='color: #666666; display: inline'><a onclick='files_%id%.innerHTML=files_%id%_content.innerHTML'>[%files_count% files]</a>
    </div><div style='display: none' id='files_%id%_content'><br>
    <tmpl_loop files>[%size%] <a href="/webtornado/users/%user%/output/%name%">%name%</a><br></tmpl_loop>
    </div>
</tmpl_if>
<tmpl_if active><tmpl_if error><br><font color=red>%error%</font></tmpl_if></tmpl_if>
</td>
<td>%size%</td>
<td>%up%</td>
<td>%down%</td>
<td><tmpl_if active>
<tmpl_if peers>%peers%<tmpl_else>none</tmpl_if>
<tmpl_else>--</tmpl_if></td>
<td><nobr>
<tmpl_if overseed><div style='color: red'><b></tmpl_if>
<a onclick='set_maxratio(%id%, %maxratio%)'>
<tmpl_if ratio>%ratio%<tmpl_else>--</tmpl_if><tmpl_if maxratio> (%maxratio%)</tmpl_if></a>
<div id='set_maxratio_%id%'></div>
<tmpl_if overseed></b></div></tmpl_if>
</nobr></td>
<td><tmpl_if active>
<tmpl_if uprate><tmpl_if downrate>%downrate% / </tmpl_if>%uprate%<tmpl_else><tmpl_if downrate>%downrate% / 0b<tmpl_else>stalled</tmpl_if></tmpl_if>
<tmpl_else>--</tmpl_if></td>
<td><tmpl_if done><tmpl_if active>seeding %seedstatus%<tmpl_else>done</tmpl_if><tmpl_else>%status%</tmpl_if></td>
</tr>
</tmpl_loop>
<tr>
<th>%total_active% / %total_count%</th>
<th>total</th>
<th>%total_size%</th>
<th>%total_up%</th>
<th>%total_down%</th>
<th><tmpl_if total_peers>%total_peers%<tmpl_else>none</tmpl_if></th>
<th>%total_ratio%</th>
<th>%total_speed%</th>
<th>%total_status%</th>
</tr>
</tbody>
</table>
</tmpl_if>

<br>

<tmpl_if torrents><a href='/start/all'>start all</a> | <a href='/stop/all'>stop all</a> |</tmpl_if>
add new torrent: <form method='post' action='/upload' enctype='multipart/form-data'>
<input type='file' name='file' />&nbsp;<input type='submit' name='.submit' /></form>
<font color=gray>webtornado %version% &copy; swined</font>

    </center></body>
</html>