<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
	<meta http-equiv='REFRESH' content='30;URL=/webtornado'></meta>
	<link rel='stylesheet' href='/webtornado/style.css'></link>
	<script language='javascript' src='/webtornado/script.js'></script>
	<title>[wt] 
	    <tmpl_if total_ratio>r:%total_ratio%</tmpl_if>
	    <tmpl_if total_peers>p:%total_peers%</tmpl_if>
	    <tmpl_if total_downrate>d:%total_downrate%</tmpl_if>
	    <tmpl_if total_uprate>u:%total_uprate%</tmpl_if>
	</title>
    </head>
    <body onLoad='onLoad()'><center>

diskspace: %disk_free% of %disk_total% free %disk_progressbar% <br>

<tmpl_if torrents>
<table id='torrents'>
<thead><tr><th>&nbsp;</th><th>name</th><th>size</th><th>up</th><th>down</th><th>peers</th><th>ratio</th><th>speed</th><th>status</th></tr></thead>
<tbody>
<tmpl_loop torrents>
<tr wt:id='%id%' wt:mr='%maxratio%'>
<td><tmpl_unless del><tmpl_if active><tmpl_if pid><a href=/webtornado/stop/%id%><img src=/webtornado/img/green.gif></a><tmpl_else><img src=/webtornado/img/yellow.gif></tmpl_if><tmpl_else><tmpl_if pid><img src=/webtornado/img/yellow.gif><tmpl_else><a href=/webtornado/start/%id%><img src=/webtornado/img/black.gif></a></tmpl_if></tmpl_if><tmpl_if done><a href="<tmpl_if files_count>/webtornado/%id%.tar<tmpl_else>/webtornado-users/%user%/output/%ue_name%</tmpl_if>"><img src="/webtornado/img/tar_down.gif"></a></tmpl_if><a href="/webtornado/delete/%id%"><img src="/webtornado/img/delete.png"></a></tmpl_unless></td>
<td>%name%<tmpl_if files_count> <div>%files_count%</div></tmpl_if><tmpl_if active><tmpl_if error><br><font color=red>%error%</font></tmpl_if></tmpl_if></td>
<td>%size%</td><td>%up%</td><td>%down%</td><td><tmpl_if active><tmpl_if peers>%peers%<tmpl_else>none</tmpl_if><tmpl_else>--</tmpl_if></td>
<td><tmpl_if overseed><div style='color: red'><b></tmpl_if><tmpl_if ratio>%ratio%<tmpl_else>--</tmpl_if><tmpl_if maxratio> (%maxratio%)</tmpl_if><tmpl_if overseed></b></tmpl_if></td>
<td><tmpl_if active><tmpl_if uprate><tmpl_if downrate>%downrate% / </tmpl_if>%uprate%<tmpl_else><tmpl_if downrate>%downrate% / 0b<tmpl_else>stalled</tmpl_if></tmpl_if><tmpl_else>--</tmpl_if></td>
<td><tmpl_if done><tmpl_if active>seeding %seedstatus%<tmpl_else>done</tmpl_if><tmpl_else>%status%</tmpl_if></td>
</tr>
</tmpl_loop>

</tbody>
<thead><tr><th><tmpl_if total_active>%total_active% / </tmpl_if>%total_count%</th><th>total</th><th>%total_size%</th><th>%total_up%</th><th>%total_down%</th><th><tmpl_if total_peers>%total_peers%<tmpl_else>none</tmpl_if></th><th>%total_ratio%</th><th><tmpl_if total_uprate><tmpl_if total_downrate>%total_downrate% / </tmpl_if>%total_uprate%<tmpl_else><tmpl_if total_downrate>%total_downrate% / 0b<tmpl_else>stalled</tmpl_if></tmpl_if></th><th>%total_status%</th></tr></thead>
</table>
</tmpl_if>

<br>

<tmpl_if torrents><a href='/webtornado/start/all'>start all</a> | <a href='/webtornado/stop/all'>stop all</a> |</tmpl_if>
add new torrent: <form method='post' action='/webtornado/upload' enctype='multipart/form-data'>
<input type='file' name='file' />&nbsp;<input type='submit' name='.submit' /></form>
<font color=gray>webtornado %version% &copy; swined<br>generation time: %gtime%s</font>

    </center></body>
</html>