IMG {
	border: none;
}
.main {
	width: 100%;
}
.tags {
	float: left;
	width: 200px;
}
.note {
	width: 100%;
	border-left: 5px solid blue;
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
	margin-bottom: 10px;
}
.notetext {
	font-size: 70%;
}
.notefoot {
	font-size: 70%;
	background-color: #eeeeee;
}
.notetag {
	color: green;
	margin-right: 5px;
}
.notemtime {
	color: gray;
}
.notearea {
	border: none;
	width: 100%;
	overflow: visible;
}