RewriteEngine	On
RewriteBase	/

RewriteRule	^$	webtornado/cgi-bin/xml.pl
RewriteRule	^upload$	webtornado/cgi-bin/upload.pl
RewriteRule	^(\d+).tar$	webtornado/cgi-bin/get.pl?id=$1

AuthType Basic
AuthName "WebTornado"
AuthUserFile /etc/webtornado.auth
Require valid-user
