IMG {
	border: 0px;
}
.tags {
	float: left;
	min-width: 100px;
}
.notetext {
	font-size: 70%;
}
.notefoot {
	font-size: 70%;
	background-color: #eeeeee;
}
.notetag {
	color: green;
	margin-right: 5px;
}
.notemtime {
	color: gray;
}