TD {
	text-align: center;
	vertical-align: top;
}
TH {
	background-color: #CCCCCC;
}
IMG {
	border: 0px;
}
TABLE {
        border: 0px;
	width: 100%;
}
DIV.pb {
	border: 1px solid black;
	height: 5px;
	width: 100px;
	background-color: black;
	text-align: left;
}
DIV.pb>DIV {
	height: 100%;
	background-color: #00FF00;
}
DIV.fd {
	color: #666666; 
	display: inline;
}
DIV.fd>A {
	color: #666666; 
}
