Source: webtornado
Section: web
Priority: extra
Maintainer: Alexey Alexandrov <swined@gmail.com>
Build-Depends: debhelper, perl
Standards-Version: 3.7.2

Package: webtornado
Architecture: any
Depends: python-mysqldb, perl, python, bittorrent, apache2, libdbd-mysql-perl, libconfig-file-perl, libcgi-session-perl, libcgi-perl, libtime-duration-perl, libhtml-template-perl, libfilesys-statvfs-perl, libcache-fastmmap-perl, libnet-ip-perl
Description: web based bittorrent download manager
